@charset "utf-8";
/* ===========================================
Name: DOUG FELLOWS
Copyright: LIVEBOLIVAR.COM 2009
Company: 
Written for: LIVEBOLIVAR.COM

*** swatch colors ***
====================
#FFFFFF = white;
#101e24 = black;
#0c3546 = dark blue;
#009ada = link color;
=========================================== */

/* -- resets and overrides -- */
* {margin: 0; padding: 0;}
html { overflow-y:scroll; }
img {/*Get rid of default image anchor border*/ border:none;}

/* -- Links and type declarations -- */
body {background:#E9E9E9; font-family:Verdana, Arial, Helvetica, sans-serif;}
a:link, a:active, a:visited {text-decoration:none; color:#009ada; /* remove dashed outline from clicked status */outline:none;}
a:hover {text-decoration:underline;}

/* -- Heading declarations -- */
h1 {color:#0c3546; font-size:20px; font-weight:bold; padding-bottom:5px;}
.title h1 { text-transform:uppercase; }
h2 {color:#101e24; font-size:14px; font-weight:bold; padding-bottom:10px; font-family:Arial, Verdana, Helvetica, sans-serif;}
h3 {color:#101e24; font-size:14px; font-weight:bold; font-family:Arial, Verdana, Helvetica, sans-serif;}
h4 {color:#101e24; font-size:11px; font-weight:bold; padding-bottom:10px; font-family:Arial, Verdana, Helvetica, sans-serif;}
h5 {color:#101e24; font-size:11px; font-weight:bold; padding-bottom:10px; font-family:Arial, Verdana, Helvetica, sans-serif;}
h6 {color:#101e24; font-size:11px; font-weight:bold; padding-bottom:10px; font-family:Arial, Verdana, Helvetica, sans-serif;}

p {color:#1e2c31; font-size:11px; padding-bottom:10px; line-height:1.5; font-family:Arial, Verdana, Helvetica, sans-serif;}

/* ----------------------- Layout Styles ------------------- */

/* -- I tab delimit all my css to coordinate with my html build structure -- */
.page {margin:0 auto; width:980px;}
	.header
	.article
		av1 = video
		av2 = video placemark
		av3 = sm pic1
		av4 = sm pic2
		av5 = lg pic
		av6 = slideshow
		av7 = slideshow placemark
		av8 = map
		
	.article #av1, #av2, #av3, #av4 {width:50%;}
	.article #av5, #av6, #av7, #av8 {width:100%;}

		
	.nav
	.footer

/* ------ Form elements ------ */
label {}
.searchBox { margin-top:7px; }
input.searchInput {background:#FFFFFF; border:1px solid #009ada; height:17px; padding:2px 4px;}
input.searchBtn {background:url(../images/btn_search.gif) no-repeat; border:none; width:25px; height:25px; margin-top:2px;}
select {border:1px solid #0c3546; border-collapse:collapse;}
select option {padding-right:10px;}

/* -- Floats -- */
.right {float:right;}
.left {float:left;}
.clear {clear:both;}

/* -- Random styles -- */
.borderBottom {border-bottom:1px solid #000000;}
ul.noDots, ul.noDots ul{list-style:none;}
ul.noDots { margin-bottom:10px; }
ul.noDots li {padding-bottom:0;}
ul.padLeft {padding-left:14px; margin:0 0 10px -10px; list-style:none;}
ul.padLeft li {background:url(../images/list_dot_blk.png) no-repeat; background-position:0 6px; padding-left:10px;}
.padding5 {padding:5px 5px 5px 0;}
.blueAnchor {color:#009ada;}
.banner {margin-bottom:15px;}
.directories { padding-bottom:35px;}
.directories form { margin:-8px 0 0 0;}

/* -- Search results --*/
.searchContent { float:left; width:713px; }
.searchHeader, .searchFooter { background-color:#CCC; color:#000; font-family:Arial, Helvetica, sans-serif; font-size:12px; margin-top:10px; padding:5px; }
.searchFooter { margin-top:15px; }
.searchFooter a { font-weight:bold; }
.searchResults { font-family:Arial, Helvetica, sans-serif; font-size:11px; line-height:16px; margin-top:15px; padding-right:15px; }
.searchResults br { margin-bottom:6px; }
.searchResults a { font-size:12px; font-weight:bold; }

/* FROM nav CSS */
#nav {
	font-size:12px;
	font-weight:bold;
	height:34px;
	margin:0 auto;
	margin-top:8px;
	padding-left:76px;
	width:644px;
}

#flashNav_int #nav {
	margin-top:3px;
}

/* Drop Nav */
#nav, #nav ul { /* all lists */
	margin:0;
	padding:0;
	list-style:none;
}

#nav li { /* all list items */
	float:left;
	margin:0;
	padding:0;
}

#nav li a {
	display:block;
	height:24px;
	margin:0;
	padding:10px 0 0 0;
	text-align:center;
	text-decoration:none;
	width:90px;
}

#nav li a:hover, #nav li a.active {
	background-color:#0D2630;
	border:1px solid #BBB;
	color:#FFF;
	width:88px;
}

#nav li:hover, #nav li.hover {
	position:static; 
}

#nav li ul {
	border-bottom:1px solid #BBB;
	border-left:1px solid #BBB;
	border-right:1px solid #BBB;
	height:auto;
	left:-999em;
	margin:0;
	margin-top:-1px;
	padding:0;
	position:absolute;
	width:auto;
}

#nav li ul li {
	float:none;
	margin:0;
	padding:0;
}

#nav li ul li a:link, #nav li ul li a:visited, #nav li ul li a:active {
	background-color:#0D2630;
	color:#FFF;
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	height:20px;
	padding:6px 0 0 8px;
	text-align:left;
    width:142px;
}

#nav li ul li a:hover {
	background-color:#044561;
	border:none;
	display:block;
	height:20px;
	padding:6px 0 0 8px;
    width:142px;
}

#nav li:hover ul, #nav li.sfhover ul {
	left:auto;
}/* end Drop Nav */

.navTop {
	background:url(../images/bg_navSecondLvl.png) no-repeat;
}


/* FROM SELECT CSS - AREA ON UPPER LEFT FROM EVERY PAGE */
.dropselect {
	border:1px solid #373737;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	height:14px;
	margin:4px 0;
	width:166px;
}

.dropselect a {
	display:block;
	padding:0;
	text-align:left;
	white-space:nowrap;
}

.dropselect a, .dropselect a:visited {
	background-color:#FFF;
	color:#000;
	height:14px;
	padding:0 0 0 20px;
	text-decoration:none;
}

.dropselect a:hover {
	cursor:default;
}

.dropselect ul {
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	/* width:197px; */
}

.dropselect li {
	position:relative;
}

.dropselect ul ul {
	border:1px solid #373737;
	display:none;
	line-height:1em;
	margin:0 0 0 -1px;
	padding:0;
	height:130px;
	overflow:auto;
	overflow-x:hidden;
	overflow-y:hidden; /* change to auto for scroll */
	position:absolute;
	top:auto;
	width:166px;
	z-index:500;
}

.dropselect ul ul a {
	background:none;
	display:block !important;
	/* height:16px !important; */
	padding:8px 0 4px 4px !important;
}

.dropselect ul ul a:hover { background-color:#014D6D; color:#FFF; cursor:pointer; text-decoration:none; }

.dropselect li a { background:url(../images/g_dropdown.gif) no-repeat; background-position:0 0; }
.dropselect ul li { background-color:#FFF; width:166px; }

div.dropselect li:hover {
	cursor:pointer;
	z-index:100;
}

div.dropselect li:hover ul ul,
div.dropselect li li:hover ul ul,
div.dropselect li li li:hover ul ul,
div.dropselect li li li li:hover ul ul
{ display:none; }

div.dropselect li:hover ul,
div.dropselect li li:hover ul,
div.dropselect li li li:hover ul,
div.dropselect li li li li:hover ul
{ display:block; }

/*.initial { background-color:#018A3F !important; color:#FFF !important; }
.initial:hover { background-color:#DBEDC7 !important; color:#000 !important; }*/

div.leftnav ul ul {
	margin-bottom:4px;
}