#Content {
overflow: hidden} /**clears floats**/

.RightCaptions {/** container **/
float: right;
width: 25%;
height:auto;
border: thin silver solid;
margin-top: 0.25em;
margin-bottom: 0.25em;
padding: 0.1em;
}

.LeftCaptions {/** container **/
	float: left;
	width: 375px;
	height:300px;
	border: thin silver solid;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
	margin-right:0.25em;
	padding: 0.1em;
}

.RightCaptions p, .LeftCaptions p {/** text captions **/
	text-align: center;
	font-style: italic;
	font-size: smaller;
	text-indent: 0;

}
