.ItemStyle {
	list-style-image: url(file.gif);
	font-family: "arial";
	font-size: 1em;
	vertical-align: middle;

}

.PopItemStyle {
	list-style-image: url(folder.gif);
	font-family: "arial";
	font-size: 1em;
	vertical-align: middle;

}

body {
	background-color: #FFFFFF;
	color: #000000;
	background-repeat: repeat;
	background-attachment: fixed;
        

}

A:link {
	color: ##0033FF;
	font-size:1em: none
}

A:visited {
	font-size:1em;
	color: #666666;

}

A:hover {
	color: Red;
	font-size:1em;
	text-decoration: none
	}
A: {
	text-decoration: none
	}
