@charset "UTF-8";
.print{display:inherit}
.noPrint{display:none}
.spacelink{display:none}
.vspace{display:none}
.vspace2{display:none}
.springhill{padding-left:0}
.noScreen{display:inline}
body{font:12pt Georgia,"Times New Roman",Times,serif;line-height:1.3;background:#fff;color:#000}
.promo h1,.promo h2,.promo h3,p,li{color:inherit;font-size:.75em}
h1{margin:0;color:inherit;font-size:.75em}
a,a:visited{color:inherit;text-decoration:none}
.page{width:100%;margin:0;padding:0}
nav{display:none}
article{padding:0}
a.cta:after{content:"Learn more online at: " attr(href);display:none;font-style:italic;font-weight:normal;margin-top:15px}
.promo_container{padding:0;font-size:11pt;margin-top:1em;margin-bottom:0}
.promo_container .promo{width:100%;margin-top:.5em;margin-bottom:.25em}
.promo_container .promo .content{padding:0 30px 0 0}
a.cta{text-transform:none;background:0;color:inherit;display:none}
footer{color:#000;background:0;padding:0;font-size:.7em}
footer .qr{border-top:1px solid #ddd;margin-top:20px;padding-top:20px}
footer .qr img{float:left;margin-right:20px}
header a.logo{top:15px;background:0}
header{display:none}
.promo.one,.promo.two,.promo.three,.promo.four,.promo.five,.promo.six,.promo.seven,.promo.eight,.promo.nine,.promo.ten,.promo.eleven,.promo.twelve,.promo.thirteen,.promo.fourteen,.promo.fifteen,.promo.sixteen,.promo.seventeen,.promo.eighteen,.promo.nineteen,.promo.twenty,.promo.twenty-one,.promo.twenty-two,.promo.twenty-three,.promo.twenty-four{background:0}
.promo{position:relative}
.promo img{position:absolute;top:0;left:0;display:none}