@charset "UTF-8";
.cssgif {
	max-width: 88px;
	float: right;
	margin: 0 0 .25em 0;
}
.spacelink {
	padding-left: 1em;
}
.videolinks {
	padding-left: 1em;
}
.vspace {
	margin-bottom: 1em;
}
.vspace2 {
	margin-bottom: .25em;
}
.springhill {
	padding-left: .25em;
}
body {
	margin: 0;
	padding: 0;
}
header a.logo {
	display: block;
	position: absolute;
	background-position: 0 0;
	background-repeat: no-repeat;
}
header a.logo {
	width: 80px;
	height: 80px;
	top: 9px;
	right: 9px;
	background-image: url(../images/icon-phone.png);
	background-size: 80px 80px;
}
header {
	height: 382px;
	background: url(../images/banner_large1360.jpg) no-repeat right 0;
	background-size: 1360px 382px;
}
nav {
	top: 390px;
	width: 99.4%;
	display: block;
	position: absolute;
	background-color: #a6430a;
}
nav a {
	color: #f5a06e;
	text-transform: uppercase;
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
	padding: 1em;
}
nav a:hover {
	color: #fff;
}
article {
	padding: 70px 20px 10px 0;
}
.promo_container {
	padding: 0 0 15px 20px;
}
.promo_container .promo {
	width: 33%;
	float: left;
	background-position: 0 0;
}
.promo_container .promo .content {
	padding: 0 30px 0 70px;
}
.promo_container2 {
	margin: 6em 0 0 0;
	padding: 0 0 15px 20px;
}
.promo_container2 .promo {
	width: 33%;
	float: left;
	background-position: 0 0;
}
.promo_container2 .promo .content {
	padding: 0 30px 0 70px;
}
.promo_container3 {
	margin: 6em 0 0 0;
	padding: 0 0 15px 20px;
}
.promo_container3 .promo {
	width: 33%;
	float: left;
	background-position: 0 0;
}
.promo_container3 .promo .content {
	padding: 0 30px 0 70px;
}
p {
	margin: 1em 2em .75em 0;
}
.promo h1 {
	margin: 0;
}
.promo a.cta {
	font-size: 1.25em;
	line-height: 1em;
	font-weight: bold;
	margin: 0;
	padding: 0 1em 0 0;
	background: url(../images/cta_arrow.png) no-repeat right 0 top 6px;
}
.hidelg {
	display: none;
}
footer {
	padding-left: 20px;
}