@charset "UTF-8";

/* Layout (global rules for all sizes) */
.spacelink {padding-left: 1em;}/* DOUG */
.videolinks {padding-left: 1em;}/* DOUG */
.vspace {margin-bottom: 1em; }/* DOUG */
.vspace2 {margin-bottom: .25em; }/* DOUG */
.springhill {padding-left:.25em;}/* DOUG */

body { margin: 0px; padding: 0px; }
header a.logo { display: block; position: absolute; background-position: 0px 0px; background-repeat: no-repeat; }
nav {
	width: 99.3%;
	display: block;
	position: absolute;
	background-color: #a6430a;
}

/* Layout Large Screens (default for older browsers) */

header { height: 275px; background: url(../images/banner_large.jpg) no-repeat right 0px; background-size: 980px 275px; }
header a.logo { width: 80px; height: 80px; top: 6px; right: 6px; background-image: url(../images/icon-phone.png); background-size: 80px 80px; }

article { padding: 70px 20px 10px 0; }

.promo_container { padding: 0px 0px 15px 20px; }
.promo_container .promo { width: 33%; float: left; background-position: 0px 0px; }/* DOUG BACKGROUND-POSITION OF 60X60 */

.promo_container .promo .content { padding: 0px 30px 0px 70px; }


nav { top: 275px; }
nav a { margin: 12px 0px 10px 20px; }


@media screen and (max-width: 990px) {
	footer { padding-left: 20px; }
}


@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx)
{

	header a.logo { background-image: url(../images/logo_large_2x.png); }
	header { background-image: url(../images/banner_large_2x.jpg); }

}

