@charset "UTF-8";

/* Layout Medium Screens */
.spacelink {padding-left: 1.5em;}/* DOUG */
.videolinks {padding-left: 1.5em;}/* DOUG */
.vspace {margin-bottom: 1.5em; }/* DOUG */
p.vspace2 {margin-bottom: .25em; }/* DOUG */
p + p { margin-top: 2em; }/* DOUG */ /* increase vertical spacing between .cta */
article { padding: 100px 0 0 0; }
header {
	height: 200px;
	background: url(../images/banner_medium.jpg) no-repeat 90% 0px;
	background-size: 800px 200px;
}

header a.logo { width: 60px; height: 60px; top: 6px; right: 6px; background-image: url(../images/icon-phone.png); background-size: 60px 60px; }

nav {  top: 200px; }
nav a { margin-right: 20px; }

.promo_container { padding: 0px 20px 15px 20px; }
.promo_container .promo { background-position: 0px 0px; }
.promo_container .promo .content { padding: 70px 30px 0px 0px; }
.promo_container .promo.one { background-position: 0px 0px; }/* DOUG */
.promo_container .promo.two { background-position: 0px 0px;  }/* DOUG */
.promo_container .promo.three {background-position: 0px 0px; }/* DOUG */

body { background-image: none; }


@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx)
{

	header a.logo { background-image: url(../images/logo_medium_2x.png); }
	header { background-image: url(../images/banner_medium_2x.jpg); }

}
