@charset "UTF-8";
.spacelink{padding-left:1.5em;}
.videolinks{padding-left:1.5em;}
.vspace{margin-bottom:1.5em;}
p.vspace2{margin-bottom:.25em;}
p+p{margin-top:2em;}
article{padding:100px 0 0 0;}
header{height:200px;background:url(../images/banner_medium.jpg) no-repeat 90% 0;background-size:800px 200px;}
header a.logo{width:60px;height:60px;top:9px;right:9px;background-image:url(../images/icon-phone.png);background-size:60px 60px;}
nav{top:200px;}
nav a{margin-right:20px;}
.promo_container{padding:0 20px 15px 20px;}
.promo_container .promo{background-position:0 0;}
.promo_container .promo .content{padding:70px 30px 0 0;}
.promo_container .promo.one{background-position:0 0;}
.promo_container .promo.two{background-position:0 0;}
.promo_container .promo.three{background-position:0 0;}
body{background-image:none;}

a.cta span {display:none;}