body {
	background-color: #fff;
	color: #000000;
	font-family: "sans-serif";
	font-size: 14px;
}
	
.ItemStyle {
	font-family: "Verdana";
	font-size: 14px;
	list-style-type: square;
	font-weight: normal;
color: #000;
}

.PopItemStyle {
	font-family: "Verdana";
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
	list-style-type: disc;
color: #000;


}
a {
	color: #000;

}
ul {
	list-style-type: square;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	color: #000;




}
ul ul {
	list-style-type: square;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	text-decoration: underline;




}
ul ul ul {
	list-style-type: disc;
	font-size: 14px;
	font-style: normal;
	text-decoration: none;



}
ul ul ul ul {
	list-style-type: disc;
	font-size: 12px;

}
