#map-canvas {
	width: 255px; height: 255px;
}
#loading {
	background: rgba(255, 255, 255, 0.95); padding: 10px; right: 20px; bottom: 20px; font-family: sans-serif; display: none; position: absolute; z-index: 10; box-shadow: 1px 1px 0px 0px rgba(0,0,0,0.5);
}
.prompt {
	background: rgb(255, 255, 255); padding: 10px; left: 10px; width: 600px; bottom: 10px; position: absolute; box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.25);
}
.prompt h1 {
	margin: 5px 0px; font-size: 25px; font-weight: normal;
}
.prompt h2 {
	margin: 5px 0px; font-size: 16px; font-style: italic; font-weight: normal;
}
.prompt p {
	line-height: 1.5em; font-size: 14px;
}
.prompt code {
	background: rgb(244, 244, 244);
}
.prompt small {
	font-style: italic;
}
.float-left {
	margin-right: 10px; float: left;
}
.float-right {
	float: right;
}
#flash-message {
	left: 0px; top: 0px; width: 100%; text-align: center; display: none; position: fixed; z-index: 9999;
}
.flash-message {
	left: 0px; top: 0px; width: 100%; text-align: center; display: none; position: fixed; z-index: 9999;
}
.flash-content {
	background: rgb(250, 249, 204); border-width: 1px 1px medium; border-style: solid solid none; border-color: rgba(255, 255, 255, 0.2) rgba(255, 255, 255, 0.2) currentColor; padding: 5px 10px; border-radius: 0px 0px 5px 5px; border-image: none; color: rgb(0, 0, 0); font-family: sans-serif; font-size: 14px; display: inline-block; box-shadow: 0px 0px 10px 2px rgba(100,100,100,0.2);
}
