@charset "UTF-8";

/* Layout (global rules for all sizes) */

#radar2 {
  padding: 0;
  margin: 0 0 -1.1em 0;
}

.date031022 a {
	padding: 0;
	margin: .5em 0 0em 0;
	display: block;
}

a {
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
header a.logo {
  display: block;
  position: absolute;
  background-position: 0px 0px;
  background-repeat: no-repeat;
}
nav {
  width: 99.3%;
  display: block;
  position: absolute;
  background-color: #a6430a;
}
article {
  padding: 14em 0 1em 1em;
}
/* Layout Large Screens (default for older browsers) */

header {
  height: 275px;
  background: url(../images/dfellows.rf.gd980x275.jpg);
  background-repeat: no-repeat;
}
/* jjj */

header a.logo {
  width: 80px;
  height: 80px;
  top: 6px;
  right: 6px;
  background-image: url(../images/icon-phone.png);
  background-size: 80px 80px;
}
.promo_container {
  padding: 0px 0px 15px 10px;
}
.promo_container .promo.one {
  width: 37%;
  float: left;
}
.promo_container .promo.two {
  width: 13%;
  float: left;
}
.promo_container .promo.three {
  width: 49%;
  float: left;
}
.promo_container .promo.seven {
  width: 49.5%;
  float: right;
}
.promo_container .promo.six {
  display:none;
}
.promo_container .promo.four {
  width: 100%;
  float: left;
}
.promo_container .promo.five {
  width: 90%;
  float: left;
}
/* .promo_container .promo .content { padding: 0px 30px 0px 70px; } */

.promo_container .promo.one .content {
  padding: 0;
}
nav {
  top: 275px;
}
nav a {
  margin: 10px 0px 10px 25px;
}
@media screen and (max-width: 990px) {
  footer {
    padding-left: 20px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and ( min--moz-device-pixel-ratio: 2), only screen and ( -o-min-device-pixel-ratio: 2/1), only screen and ( min-device-pixel-ratio: 2), only screen and ( min-resolution: 192dpi), only screen and ( min-resolution: 2dppx) {
  header a.logo {
    background-image: url(../images/icon-phone.png);
  }
  /* header { */
    /* background-image: url(../images/dfellows.rf.gd1360x382.jpg); */
  /* } */
}