# https://stackoverflow.com/questions/728616/disable-cache-for-some-images
 <FilesMatch "\.(jpg|jpeg)$">
 FileETag MTime Size
 </FilesMatch>

# BEGIN Expire headers
<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 5 seconds"
  ExpiresByType image/jpg "access plus 1 seconds"
</ifModule>
# END Expire headers