# STRONG HTACCESS PROTECTION
# https://perishablepress.com/improve-site-security-by-protecting-htaccess-files/
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

### REDIRECT 
### https://stackoverflow.com/questions/1421068/htaccess-301-redirect-of-single-page
RedirectMatch 301 /radio-shows.html /site_html/radio-stations13d.html
RedirectMatch 301 /radio-shows13.html /site_html/radio-stations13d.html
RedirectMatch 301 /radio-shows13b.html /site_html/radio-stations13d.html

