body {
	margin: 0px; padding: 0px; font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
}
pre {
	color: rgb(0, 0, 0); font-family: arial,helvetica,serif; font-size: 12px;
}
a:hover {
	color: rgb(0, 0, 255); font-size: 12px; font-weight: 400; text-decoration: none;
}
a:link {
	/* color: rgb(0, 0, 255); font-size: 12px; font-weight: 400; text-decoration: none; */
	font-size: 12px; font-weight: 400; text-decoration: none;
}
.small {
	color: rgb(0, 0, 0); font-size: 10px; font-weight: 400; text-decoration: none;
}
.smallBold {
	color: rgb(0, 0, 0); font-size: 10px; font-weight: 700; text-decoration: none;
}
.normal {
	color: rgb(0, 0, 0); font-size: 12px; font-weight: 400; text-decoration: none;
}
.normalBold {
	color: rgb(0, 0, 0); font-size: 12px; font-weight: 700; text-decoration: none;
}
.default {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400; text-decoration: none;
}
.defaultBold {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 700; text-decoration: none;
}
.large {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 400; text-decoration: none;
}
.largeBold {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 700; text-decoration: none;
}
a.redLink:link {
	color: red; font-size: 12px; text-decoration: none;
}
a.redLink:hover {
	color: red; font-size: 12px; text-decoration: underline;
}
.redLink {
	color: red; font-size: 12px; text-decoration: none;
}
a.redLink:visited {
	color: red; font-size: 12px; text-decoration: none;
}
.sideLink {
	color: rgb(0, 0, 0); font-size: 11px; font-weight: 400; text-decoration: none;
}
a.sideLink:active {
	color: rgb(0, 0, 0); font-size: 11px; font-weight: 400; text-decoration: none;
}
a.sideLink:link {
	color: rgb(0, 0, 0); font-size: 11px; font-weight: 400; text-decoration: none;
}
a.sideLink:hover {
	color: rgb(0, 0, 0); font-size: 11px; font-weight: 400; text-decoration: underline;
}
.navBar {
	color: rgb(19, 57, 96); font-size: 12px; font-weight: 700; text-decoration: none;
}
a.navBar:link {
	color: rgb(19, 57, 96); font-size: 12px; font-weight: 700; text-decoration: none;
}
a.navBar:hover {
	color: rgb(19, 57, 96); font-size: 12px; font-weight: 700; text-decoration: underline;
}
.navBarAct {
	color: rgb(255, 204, 0); font-size: 12px; font-weight: 700; text-decoration: none;
}
a.navBarAct:link {
	color: rgb(255, 204, 0); font-size: 12px; font-weight: 700; text-decoration: none;
}
a.navBarAct:hover {
	color: rgb(255, 204, 0); font-size: 12px; font-weight: 700; text-decoration: underline;
}
.headerTD {
	background: rgb(255, 255, 255); padding: 5px;
}
.headerText {
	color: rgb(19, 57, 96); font-size: 18px; font-weight: 700;
}
.headerDate {
	color: rgb(19, 57, 96); font-size: 12px; font-weight: 400; text-decoration: none;
}
a.zoneDay {
	color: rgb(19, 57, 96); font-style: italic; font-weight: 700; text-decoration: none;
}
.basicHeaderText {
	padding-left: 5px; font-size: 18px; font-weight: 700;
}
.subheaderText {
	color: rgb(19, 57, 96); font-size: 12px; font-style: italic; font-weight: 700;
}
.fcExpire {
	color: red; font-size: 11px; font-weight: 700;
}
.warnTitle {
	color: red; font-size: 14px; font-weight: 700;
}
a.warnTitle:link {
	color: red; font-size: 14px; font-weight: 700; text-decoration: none;
}
a.warnTitle:hover {
	color: red; font-size: 14px; font-weight: 700; text-decoration: underline;
}
.afd {
	padding-left: 5px;
}
#localHeader .Place {
	color: rgb(0, 0, 0); padding-left: 5px; font-size: 16px; font-weight: 700;
}
#localHeader .Wxn {
	padding-left: 5px; font-weight: 700;
}
#localHeader .Label {
	color: rgb(0, 0, 0); font-size: 10px; font-weight: 700;
}
#localHeader .Value {
	color: rgb(0, 0, 0); font-size: 10px;
}
#localHeader a.Icao {
	color: red; font-size: 10px; text-decoration: none;
}
#localHeader a.Icao:hover {
	color: red; font-size: 10px; text-decoration: underline;
}
#localHeader a.Icao:visited {
	color: red; font-size: 10px; text-decoration: none;
}
#forecastDetail {
	margin-left: 5px;
}
#forecastDetail .dayTitle {
	color: rgb(0, 0, 0); font-size: 13px; font-weight: 700;
}
#forecastDetail .wx {
	color: rgb(0, 0, 0); font-size: 14px;
}
#forecastDetail .include {
	color: rgb(0, 0, 255); font-size: 14px; font-weight: 700;
}
#forecastDetail .cities {
	color: rgb(0, 0, 0); font-size: 11px;
}
#forecastRow .Title {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 700;
}
#forecastRow .wx {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 400;
}
#forecastRow .high {
	color: red; font-size: 16px;
}
#forecastRow .low {
	color: rgb(0, 0, 255); font-size: 16px;
}
#forecastRow .pop {
	color: rgb(35, 142, 35); font-size: 16px;
}
#calendar {
	height: 270px; min-height: 270px;
}
#calendar .Title {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;
}
#calendar .Wx {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;
}
#calendar .high {
	color: red; font-size: 14px;
}
#calendar .low {
	color: rgb(0, 0, 255); font-size: 14px;
}
#calendar .pop {
	color: rgb(35, 142, 35); font-size: 12px;
}
#calendar .wind {
	color: rgb(0, 0, 0); font-size: 12px;
}
#calendarnojs {
	height: 270px; min-height: 270px;
}
#calendarnojs .Title {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;
}
#calendarnojs .Wx {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;
}
#calendarnojs .high {
	color: red; font-size: 14px;
}
#calendarnojs .low {
	color: rgb(0, 0, 255); font-size: 14px;
}
#calendarnojs .pop {
	color: rgb(35, 142, 35); font-size: 12px;
}
#calendarnojs .wind {
	color: rgb(0, 0, 0); font-size: 12px;
}
#outlookRow .Temp {
	font-size: 14px; font-weight: 400;
}
#outlookRow .Title {
	font-size: 14px; font-weight: 400;
}
#outlookRow .Wx {
	font-size: 14px; font-weight: 400;
}
#justTides .Title {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;
}
#justTides .Value {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;
}
#currents {
	padding: 10px 0px 0px; width: 555px;
}
#currents .Wx {
	color: rgb(0, 0, 0); font-size: 18px; font-weight: 700;
}
#currents .Temp {
	color: rgb(0, 0, 0); font-size: 26px;
}
#currents .SmallTemp {
	color: rgb(0, 0, 0); font-size: 20px;
}
#currents .Label {
	color: rgb(0, 0, 0); font-size: 18px;
}
#currents .Value {
	color: rgb(0, 0, 0); font-size: 18px;
}
#astro {
	padding: 0px 0px 0px 10px;
}
#astro .Label {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 400; text-decoration: none;
}
#astro a.Label:link {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 400; text-decoration: none;
}
#astro a.Label:hover {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 400; text-decoration: underline;
}
#astro .Value {
	color: rgb(0, 0, 0); font-size: 16px; font-weight: 400;
}
#astro .Moonname {
	color: rgb(0, 0, 0); font-size: 14px; font-weight: 400;
}
.rowColor1 {
	background: rgb(255, 204, 0);
}
.rowColor2 {
	background: silver;
}
#radarTable {
	width: 600px; height: 580px;
}
.radarmap {
	left: 0px; top: 0px; width: 600px; height: 550px; position: relative;
}
.image10 {
	left: 0px; top: 0px; position: absolute;
}
.image2 {
	left: 0px; top: 0px; position: absolute;
}
.image3 {
	left: 0px; top: 0px; position: absolute;
}
.image4 {
	left: 0px; top: 0px; position: absolute;
}
.image5 {
	left: 0px; top: 0px; position: absolute;
}
.image6 {
	left: 0px; top: 0px; position: absolute;
}
.image7 {
	left: 0px; top: 0px; position: absolute;
}
.image8 {
	left: 0px; top: 0px; position: absolute;
}
.image9 {
	left: 0px; top: 0px; position: absolute;
}
#caradarTable {
	width: 580px; height: 480px;
}
.caradarmap {
	left: 0px; top: 0px; width: 580px; height: 480px; position: relative;
}
