@charset "UTF-8";

/* Global Styles */

/*START DOUG*/

@media screen {
			.noScreen {display:none;}/* DOUG*/
}

@media print {.noPrint {display:none;}/* DOUG*/

}

#noRent { padding-left:3px; }

			
.promo_container .promo { margin: 1em 0 0 0; }/* DOUG*/ /*increase vertical spacing between promos*/

/*END DOUG*/

body {
	color: #575c7a;
	line-height: 1.5em;
	font-family: Arial;
	font-size: 16px;
	background: #515673 url(../images/background_gradient.jpg) repeat-x 0px 0px;
}
.page {
	max-width: 980px;
	margin: 0px auto;
	position: relative; background-color: #fff;
}

h1 { color: #a6430a; margin: 0em 0em .5em 0em; font-size: 2em; font-weight: normal; }
h2 { font-size: 1.7em; margin: 0em 0em 1em 0em; }
h3 { font-size: 1.5em; margin: 0em 0em 1em 0em; }

p { margin: 0px 0px .75em 0px; padding: 0 .25em }
a { color: #de9000; text-decoration:none;}/*DOUG*/
a:hover { color: #009eff; }
a.cta {
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	margin: .5em 0 0 0;
	padding: 0px 12px 0px 0px;
	background: url(../images/cta_arrow.png) no-repeat right 0px top 7px;/* DOUG*/ /*when increasing the font-size to 1.5em the arrow.png needs to be moved down 7px*/
}
a.cta:hover { background-position: right -43px; }/* DOUG*/ /*when increasing the font-size to 1.5em the arrow.png needs to be moved down 7px( from -50 to -43)*/
footer { font-size: .85em; color: #9ba0bd; background-color: #515673; padding: 10px 10px 10px 0px; }

.promo h3 { font-size: 1.1em; margin: 0; }
.promo p { line-height: 1.2em; font-size: .9em; margin-bottom: .5em; }

.promo { background-repeat: no-repeat; background-size: 60px 60px; }

.promo.one { background-image: url(../images/promo_1.jpg); }
.promo.two { background-image: url(../images/promo_2.jpg); }
.promo.three { background-image: url(../images/promo_3.jpg); }
.promo.three { background-image: url(../images/promo_3.jpg); }
.promo.four { background-image: url(../prop_html/116_w_maupin_st_a_b60X60.jpg); }
.promo.five { background-image: url(../prop_html/709-w-fairplay-st60x60.jpg); }
.promo.six { background-image: url(../prop_html/211_w_division_st60x60.jpg); }
.promo.seven { background-image: url(../prop_html/835_e_buffalo_st60x60.jpg); }
.promo.eight { background-image: url(../prop_html/1870-1890_pike_ave60x60.jpg); }
.promo.nine { background-image: url(../prop_html/1870-1890_pike_ave60x60.jpg); }
.promo.ten { background-image:url(../prop_html/760_762_morgan_st60x60.jpg); }
.promo.eleven { background-image:url(../prop_html/909-n-albany-ave60X60.jpg); }
.promo.twelve { background-image:url(../prop_html/427_bradford_st60x60.jpg); }
.promo.eleven { background-image:url(../prop_html/511_n_benton_ave60x60.jpg); }
.promo.fourteen { background-image:url(../prop_html/422_bradford_st60x60.jpg); }
.promo.fifteen { background-image:url(../prop_html/422_bradford_st60x60.jpg); }
.promo.sixteen { background-image:url(../prop_html/740_742_morgan_st60x60.jpg); }
.promo.seventeen { background-image:url(../prop_html/839_841_morgan_st60x60.jpg); }
.promo.eighteen { background-image:url(../prop_html/317_n_pike_ave60X60.jpg); }
.promo.nineteen { background-image:url(../prop_html/210_s_dunnegan_ave60X60.jpg); }
.promo.twenty { background-image:url(../prop_html/611_w_locust_st60X60.jpg); }
.promo.twenty-one { background-image:url(../prop_html/920-w-morgan-st13-60X60.jpg); }
.promo.twenty-two { background-image:url(../prop_html/413_n_park_ave60X60.jpg); }								  


nav a {
	color: #f5a06e;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: .9em;
}
nav a:hover { color: #fff; }

.clear-fix { clear: both; line-height: 1px; }

.print { display: none; }

@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx)
{
	.promo.one { background-image: url(../images/promo_1_2x.jpg); }
	.promo.two { background-image: url(../images/promo_2_2x.jpg); }
	.promo.three { background-image: url(../images/promo_3_2x.jpg); }
}

