# STRONG HTACCESS PROTECTION
# https://perishablepress.com/improve-site-security-by-protecting-htaccess-files/
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

# expires after 24 hours
<FilesMatch "weather-seven-day-forecast-graphic.*.jpg$">
ExpiresByType image/jpeg "modification plus 86400 seconds"
</FilesMatch>  

